absl-py==1.3.0
altgraph @ file:///C:/b/abs_f2edualeyv/croot/altgraph_1670426107695/work
asttokens==2.1.0
attrs==22.1.0
backcall==0.2.0
cachetools==5.2.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
contourpy==1.0.6
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
fonttools==4.38.0
furl==2.1.3
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.14.1
google-auth-oauthlib==0.4.6
grpcio==1.50.0
gTTS==2.3.1
idna==3.4
importlib-metadata==5.1.0
importlib-resources==5.10.0
installer==0.7.0
ipython==8.6.0
jedi==0.18.2
jsonschema==4.17.1
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.6.0.66
orderedmultidict==1.0.1
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.5.2
parso==0.8.3
pathlib2==2.3.7.post1
pefile @ file:///C:/b/abs_feg_7trsni/croot/pefile_1670877329726/work
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
playsound==1.2.2
ply==3.11
prompt-toolkit==3.0.33
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydub==0.25.1
Pygments==2.13.0
pyinstaller @ file:///C:/b/abs_dbsfiidkbn/croot/pyinstaller_1670881068280/work
pyinstaller-hooks-contrib @ file:///C:/b/abs_c2hemrb3nh/croot/pyinstaller-hooks-contrib_1670877320457/work
PyJWT==2.4.0
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pypiwin32==223
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
pyrsistent==0.19.2
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.6
pywin32==305.1
pywin32-ctypes==0.2.0
PyYAML==6.0
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
QtPy @ file:///C:/ci/qtpy_1662015036641/work
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.9.3
seaborn==0.12.1
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six==1.16.0
smmap==5.0.0
stack-data==0.6.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2209072238
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.13.0+cu116
torchaudio==0.13.0+cu116
torchvision==0.14.0+cu116
tqdm==4.64.1
traitlets==5.5.0
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.5
Werkzeug==2.2.2
wincertstore==0.2
zipp==3.11.0
